<%- include('header.ejs') %>

	<div class="auth-box">
		<div class="auth-lft">
			
		</div>

		<div class="auth-rgt">
			<div class="auth-container">
				<div class="auth-head">
					Create Password
				</div>
				<div>
					<form >
						<div class="auth-fld">
								<input id="email" type="text" value="<%= email %>" name="user_useremail" class="auth-fld-inp inp-disable" required readonly>
								<label for="email" class="auth-fld-lbl">
									Email
								</label>
							</div>
							
							<div class="auth-fld">
								<input id="password" type="text" name="password" class="auth-fld-inp" required>
								<label for="password" class="auth-fld-lbl">
									Password
								</label>
								
							</div>

							<div class="auth-fld">
								<input id="confirm_password" type="text" name="user_confirm_password" class="auth-fld-inp" required>
								<label for="confirm_password" class="auth-fld-lbl">
									Confirm Password
								</label>
							</div>
						</div>
						<div class="<%= create_password %> auth-btn" onclick="createPassword(this);">
							<span>
								Create Account
							</span>

						</div>
						<div class="<%= reset_password %> auth-btn" onclick="resetPassword(this);">
							<span>
								Change Password
							</span>

						</div>
					</form>
					<div class="auth-sec">
							<span>
								Already Existing User?								
							</span>
							<a href="/signin-auth" class="clnk">
								Sign In
							</a>
						</div>

			</div>
			<div class="auth-notify" id="auth_notify">
				<div class="auth-notify-lbl">
					
				</div>
			</div>
		</div>

	</div>
<%- include('footer.ejs') %>
