<%- include('header.ejs') %>

	<div class="auth-box">
		<div class="auth-lft">
			<div class="auth-lft-imgb">
				<img src="../images/Sprinkle.svg" class="auth-lft-img">
			</div>
			<div class="auth-lft-txt">
				Sign In Now to get your Free Buisness Card
			</div>
		</div>

		<div class="auth-rgt">
			<div class="auth-container">
				 <div style="text-align: center;">
                LOGO
            </div>
				<div class="auth-sec">
							<span>
								Already Existing User?								
							</span>
							<a href="/signin-auth" class="clnk">
								Sign In
							</a>
						</div>
				<div class="auth-head">
					Create Password
				</div>
				<div>
					<form >
						<div class="auth-fld">
								<input id="email" type="text" value="<%= email %>" name="user_useremail" class="auth-fld-inp inp-disable" required readonly autocomplete="off">
								<label for="email" class="auth-fld-lbl">
									<span class="auth-fld-txt">
										Email
									</span>
									<span class="auth-req">
										*
									</span>
								</label>
							</div>
							
							<div class="auth-fld">
								<input id="password" type="password" name="password" class="auth-fld-inp" required autocomplete="off">
								<label for="password" class="auth-fld-lbl">
									<span class="auth-fld-txt">
										Password
									</span>
									<span class="auth-req">
										*
									</span>
								</label>
									<div class="auth-fld-close auth-fld-eye" onclick="togglePasswordFld(this);">
									
								</div>
								
							</div>

							<div class="auth-fld">
								<input id="confirm_password" type="password" name="user_confirm_password" class="auth-fld-inp" required autocomplete="off">
								<label for="confirm_password" class="auth-fld-lbl">
									<span class="auth-fld-txt">
										Confirm Password
									</span>
									<span class="auth-req">
										*
									</span>
								</label>
									<div class="auth-fld-close auth-fld-eye" onclick="togglePasswordFld(this);">
									
								</div>

							</div>
						</div>
						<div class="<%= create_password %> auth-btn auth-disable" onclick="createPassword(this);">
							<span>
								Create Account
							</span>

						</div>
						<div class="<%= reset_password %> auth-btn auth-disable" onclick="resetPassword(this);">
							<span>
								Change Password
							</span>

						</div>
					</form>
					

			</div>
			<div class="auth-notify" id="auth_notify">
				
			</div>
		</div>

	</div>
	
<%- include('footer.ejs') %>

<script type="text/javascript">
	$('.auth-fld-inp').on('keyup', function() {

		if($('#password').val() !== '' && $('#confirm_password').val() !== '') {

           if($('#password').val() === $('#confirm_password').val()) {
            console.log("sign up valid check");
              $('.auth-btn').removeClass('auth-disable');
              $("#password").addClass('auth-bgreen');
              $("#confirm_password").addClass('auth-bgreen');
              $("#password").removeClass('auth-bred');
              $("#confirm_password").removeClass('auth-bred');

		    }
		     else{
	            console.log("sign up valid check");
	            $('.auth-btn').addClass('auth-disable');
	            $("#password").addClass('auth-bred');
                $("#confirm_password").addClass('auth-bred');
              	 $("#password").removeClass('auth-bgreen');
                $("#confirm_password").removeClass('auth-bgreen');
		    }
		}
          
        });

    
</script>