<%- include('header.ejs') %>
<div class="auth-box">
   <div class="auth-lft">
            <div class="auth-lft-imgb">
                <img src="../images/auth-bg.svg" class="auth-lft-img">
            </div>
            <div class="auth-lft-txt">
                Sign In Now to get your Business Card
            </div>
        </div>
    <div class="auth-rgt">
        <div class="auth-container">
           <div class="auth-logo"> 
                    <img src="../images/aristos-tech-logo-color.png" class="auth-logo-img" />
                </div>

            	<div class="auth-info-box bg-red <%= link_expired %>" name="auth_notify">
	                <div class="auth-close">
	                </div>
	                <div class="auth-notify-lbl">
	                    Verification Link Already Expired
	                </div>
	                <div class="auth-notify-sublbl">
	                    Redirecting to Forgot Password ...
	                </div>
            	</div>

            	<div class="auth-info-box bg-green <%= user_exists %>" name="auth_notify">
	                <div class="auth-tick">
	                </div>
	                <div class="auth-notify-lbl">
	                    Password is already reset using this link !!!
	                </div>
	                <div class="auth-notify-sublbl">
	                    Redirecting to Sign In...
	                </div>
	            </div>


        </div>
    </div>
</div>
<script type="text/javascript">
setTimeout(() => {
    $(".auth-notify").removeClass("auth-notify-show");
    let db = '';
    // console.log(user_exists);

    db = '<%= page_lnk %>';
    if(db === 'signin') {
    	window.location.assign('/signin-auth');
    }
    else {
    	window.location.assign('/forgot-password-auth');
    }
}, 2000)
</script>
<%- include('footer.ejs') %>