<%- include('header.ejs') %>
<div class="auth-box">
    <div class="auth-lft">
    </div>
    <div class="auth-rgt">
        <div class="auth-container">
            <div class="auth-head">
                Forgot Password
            </div>
               
               <form class="<%= forgot_password_form %>" id="forgot_password_form">

	            <div>
	                    <div class="auth-fld">
	                        <input id="email" type="text" name="user_useremail" class="auth-fld-inp" required>
	                        <label for="email" class="auth-fld-lbl">
	                            Email
	                        </label>
	                    </div>
		            </div>
		            <div class="auth-btn" onclick="loadForgotPassword(this);">
                        <span>
                            Next                            
                        </span>
		            </div>
            </form>
            <!-- <form class="<%= reset_password_form %>" id="reset_password_form">
                <div>
                    <div class="auth-fld">
                        <input id="email" type="text" value="<%= email %>" name="user_useremail" class="auth-fld-inp" required readonly>
                        <label for="email" class="auth-fld-lbl">
                            <%= email %>
                        </label>
                    </div>
                    <div class="auth-fld">
                        <input id="password" type="text" name="password" class="auth-fld-inp" required>
                        <label for="password" class="auth-fld-lbl">
                            Password
                        </label>
                        <div>
                            Please Enter UserName
                        </div>
                    </div>
                    <div class="auth-fld">
                        <input id="confirm_password" type="text" name="user_confirm_password" class="auth-fld-inp" required>
                        <label for="confirm_password" class="auth-fld-lbl">
                            Confirm Password
                        </label>
                    </div>
                </div>
                <div class="auth-btn" onclick="resetPassword();">
                    Change Password
                </div>
        </div>
        </form> -->
    </div>
    <div class="auth-notify" id="auth_notify">
                <div class="auth-notify-lbl">
                    
                </div>
            </div>
</div>
</div>
<%- include('footer.ejs') %>