<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        AristosTech - Template
    </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" type="text/css" href="../styles/card-templates.css">
    <link rel="stylesheet" type="text/css" href="../styles/card-web-templates.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800;900&display=swap" rel="stylesheet">
</head>

<body>
    <% if(domain_data.data.api.substring(22, 28) ==='ps_001') { %>
    <div class="abc-hexa-bg">
        
        <div class="bcard-parent ">
            <div class="bcard-box bcard-temp-1">
                <a id="Home"></a>
                <div class="bcard-profbox">
                     <div class="bcard-prof bcard-comp">
                        <img src="<%= domain_data.data.f_company_img %>" name="f_company_img" data-field-name="Company Logo" class="bcard-profimg bcard-compimg">
                    </div>
                    <div class="bcard-prof">
                        <img src="<%= domain_data.data.f_prof_img %>" name="f_prof_img" data-field-name="Profile" class="bcard-profimg">
                    </div>
                    <div class="bcard-prof-sec">
                        <div>
                            <span class="bcard-prof-btxt" name="f_prof_name" data-field-name="Profile Name" data-multiline="false">
                                <%= domain_data.data.f_prof_name %>
                            </span>
                            <span class="bcard-prof-smtxt" name="f_prof_profession" data-field-name="Profession" data-multiline="false">
                                    <%= domain_data.data.f_prof_profession %>
                                </span>
                        </div>
                        <div class="bcard-act">
                            <div class="bcard-acticon ico-fb">
                                <a target="_blank" name="f_fb" href="<%= domain_data.data.f_fb %>" data-sm="true" data-field-name='Facebook'>
                                    <i class="fa-brands fa-facebook-f"></i>
                                </a>
                            </div>
                            <div class="bcard-acticon ico-whatsapp">
                                <a target="_blank" name="f_whatsapp" href="https://wa.me/+<%= domain_data.data.f_whatsapp %>" data-sm="true" data-field-name='Whatsapp'>
                                    <i class="fa-brands fa-whatsapp"></i>
                                </a>
                            </div>
                            <div class="bcard-acticon ico-insta">
                                <a target="_blank" name="f_insta" href="<%= domain_data.data.f_insta %>" data-sm="true" data-field-name='Instagram'>
                                    <i class="fa-brands fa-instagram"></i>
                                </a>
                            </div>
                            <div class="bcard-acticon ico-tw">
                                <a target="_blank" name="f_twitter" href="<%= domain_data.data.f_twitter %>" data-sm="true" data-field-name='Twitter'>
                                    <i class="fa-brands fa-twitter"></i>
                                </a>
                            </div>
                            <div class="bcard-acticon ico-linked">
                                <a target="_blank" name="f_linked" href="<%= domain_data.data.f_linked %>" data-sm="true" data-field-name='Linked In'>
                                    <i class="fa-brands fa-linkedin-in"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bcard-cont">
                    <div class="bcard-sec">
                        <div class="bcard-padd">
                            <div class="bcard-frow-subsec">
                                <span class="bcard-btxt" name="f_comp_name" data-field-name="Company Name" data-multiline="false">
                                    <%= domain_data.data.f_comp_name %>
                                </span>
                                
                            </div>
                            <a target="_blank" name="f_phone" href="tel:+<%= domain_data.data.f_phone %>" data-sm="true" data-field-name='Phone No' class="bcard-frow-sec">
                                <div class="bcard-smico-sec">
                                    <i class="fa-solid fa-phone"></i>
                                </div>
                                <div class="bcard-sub-txt">
                                    <%= domain_data.data.f_phone %>
                                </div>
                            </a>
                            <a target="_blank" name="f_website" href="<%= domain_data.data.f_website %>" data-sm="true" data-field-name='Website' class="bcard-frow-sec">
                                <div class="bcard-smico-sec">
                                    <i class="fa-solid fa-globe"></i>
                                </div>
                                <div class="bcard-sub-txt">
                                    <%= domain_data.data.f_website %>
                                </div>
                            </a>
                            <a target="_blank" name="f_email" href="mailto:<%= domain_data.data.f_email %>" data-sm="true" data-field-name='Email' class="bcard-frow-sec">
                                <div class="bcard-smico-sec">
                                    <i class="fa-solid fa-envelope"></i>
                                </div>
                                <div class="bcard-sub-txt">
                                    <%= domain_data.data.f_email %>
                                </div>
                            </a>
                            <a target="_blank" name="f_location" href="<%= domain_data.data.f_location %>" data-sm="true" data-field-name='Location' class="bcard-frow-sec">
                                <div class="bcard-smico-sec">
                                    <i class="fa-sharp fa-solid fa-location-dot"></i>
                                </div>
                                <div class="bcard-sub-txt">
                                    <%= domain_data.data.f_location %>
                                </div>
                            </a>
                            <div class="bcard-ph-sec">
                                <div class="bcard-sec-btn">
                                    Add to Contacts
                                </div>
                                <a target="_blank" id="share_wa" class="bcard-sec-btn" href="#">
                                    Share on Whatsapp
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="bcard-sec">
                        <a id="About">
                            <span class="bcard-btxt" name="f_about_title" data-field-name="About Title" data-multiline="false">
                                <%= domain_data.data.f_about_title %>
                            </span>
                            <div class="bcard-sub-sec">
                                <div>
                                    <span class="bcard-sub-lbl" name="f_about_txt_1" data-field-name="About Section 1" data-multiline="false">
                                        <%= domain_data.data.f_about_txt_1 %>
                                    </span>
                                </div>
                                <div>
                                    <span class="bcard-sub-lbl" name="f_about_txt_2" data-field-name="About Section 2" data-multiline="true">
                                        <%= domain_data.data.f_about_txt_2 %>
                                    </span>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="bcard-sec">
                        <a id="Services">
                            <span class="bcard-btxt" name="f_services_title" data-field-name="Services Title" data-multiline="false">
                                <%= domain_data.data.f_services_title %>
                            </span>
                            <div class="bcard-sub-sec">
                                <div>
                                    <span class="bcard-sub-lbl" name="f_services_txt_1" data-field-name="Services Section 1" data-multiline="false">
                                        <%= domain_data.data.f_services_txt_1 %>
                                    </span>
                                </div>
                                <div>
                                    <span class="bcard-sub-lbl" name="f_services_txt_2" data-field-name="Services Section 2" data-multiline="true">
                                        <%= domain_data.data.f_services_txt_2 %>
                                    </span>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="bcard-sec">
                        <a id="Enquiry">
                            <div class="bcard-btxt">
                                Contact Us
                            </div>
                           <div class="bcard-sub-sec">
                                <div class="bcard-frm-sec">
                                    <div class="bcard-frm-btxt">
                                        FirstName
                                    </div>
                                    <div class="bcard-frm-inpb">
                                        <input placeholder="FirstName" id="fn" type="text" class="bcard-frm-inp" />
                                    </div>
                                </div>
                                <div class="bcard-inp-sec">
                                    <div class="bcard-frm-sec bcard-frm-half">
                                        <div class="bcard-frm-btxt">
                                            Mobile Number
                                        </div>
                                        <div class="bcard-frm-inpb">
                                            <input min="10" max="10" placeholder="Mobile No" id="pno" type="number" class="bcard-frm-inp" />
                                        </div>
                                    </div>
                                    <div class="bcard-frm-sec bcard-frm-half">
                                        <div class="bcard-frm-btxt">
                                            Email
                                        </div>
                                        <div class="bcard-frm-inpb">
                                            <input placeholder="Email" id="femail" type="email" class="bcard-frm-inp" />
                                        </div>
                                    </div>
                                </div>
                                <div class="bcard-frm-sec">
                                    <div class="bcard-frm-btxt">
                                        Message
                                    </div>
                                    <div>
                                        <textarea placeholder="Message" id="fmess" type="text" class="bcard-frm-ml"></textarea>
                                    </div>
                                </div>
                                <div class="bcard-btn pn" id="submit_data" data-api="<%= domain_data.data.api %>" onclick="submitData(this);">
                                    Submit
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="bcard-sec bcard-ft">
                        <span class="bcard-ft-btxt" name="f_address" data-field-name="Address" data-multiline="true">
                            <%= domain_data.data.f_address %>
                        </span>
                        <span class="bcard-ft-btxt" name="f_phno" data-field-name="Contact" data-multiline="false">
                            <%= domain_data.data.f_phno %>
                        </span>
                        <span class="bcard-ft-lbl" name="f_copyright" data-field-name="Copyright" data-multiline="false">
                            <%= domain_data.data.f_copyright %>
                        </span>
                    </div>
                    <div class="bcard-copyrgt-ft">
                        Designed & Developed by
                        <div class="bcard-ft-logo">
                            <div class="bcard-ft-img">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bcard-opt-fix">
                <a href="#Home" class="bcard-opt">
                    <div class="bcard-opt-ico">
                        <i class="fa-solid fa-house-chimney"></i>
                    </div>
                    <div class="bcard-opt-txt">
                        Home
                    </div>
                </a>
                <a href="#About" class="bcard-opt">
                    <div class="bcard-opt-ico">
                        <i class="fa-solid fa-circle-info"></i>
                    </div>
                    <div class="bcard-opt-txt">
                        About
                    </div>
                </a>
                <a href="#Services" class="bcard-opt">
                    <div class="bcard-opt-ico">
                        <i class="fa-solid fa-hand-holding-hand"></i>
                    </div>
                    <div class="bcard-opt-txt">
                        Services
                    </div>
                </a>
                <a href="#Enquiry" class="bcard-opt">
                    <div class="bcard-opt-ico">
                        <i class="fa-solid fa-comment"></i>
                    </div>
                    <div class="bcard-opt-txt">
                        Enquiry
                    </div>
                </a>
            </div>
        </div>
    </div>

    <style>
        :root {
                --primary: #3794e9;
                --primary-lt: #f1f8ff;
                --primary-dk:  #002f5a;
                --white:#ffffff;
                --gry-lt:  #f9f9f9;
                --gry: #efefef;
                --gry-dk:  #6e6e6e;
            }

            * {
                margin: 0px;
                padding: 0px;
                box-sizing: border-box;
            }

            html {
                font-size: 15px;
            }

            body {
                padding: 0px;
                margin: 0px;
            }


            </style>
    <% } %>
    <% if(domain_data.data.api.substring(22, 28) ==='me_001') { %>
    <div class="abc-hexa-bg">

        <div class="bcard-parent">
            <div class="bcard-box bcard-temp-2" data-theme="me_001">
                <a id="Home"></a>
                <div class="bcard-profbox">
                    <div class="bcard-prof">
                        <img src="<%= domain_data.data.f_prof_img %>" name="f_prof_img" data-field-name="Profile" class="bcard-profimg">
                    </div>
                    
                    <div class="bcard-prof-sec bcard-profbg">
                        <div class="bcard-prof bcard-comp">
                            <img src="<%= domain_data.data.f_company_img %>" name="f_company_img" data-field-name="Company Logo" class="bcard-profimg bcard-compimg">
                        </div>
                        <div>
                            <span class="bcard-prof-btxt" name="f_prof_name" data-field-name="Profile Name" data-multiline="false">
                                <%= domain_data.data.f_prof_name %>
                            </span>
                            <span class="bcard-prof-smtxt" name="f_prof_profession" data-field-name="Profession" data-multiline="false">
                                    <%= domain_data.data.f_prof_profession %>
                                </span>
                        </div>
                        <div class="bcard-act">
                            <div class="bcard-acticon ico-fb">
                                <a target="_blank" name="f_fb" href="<%= domain_data.data.f_fb %>" data-sm="true" data-field-name='Facebook'>
                                    <i class="fa-brands fa-facebook-f"></i>
                                </a>
                            </div>
                            <div class="bcard-acticon ico-whatsapp">
                                <a target="_blank" name="f_whatsapp" href="https://wa.me/<%= domain_data.data.f_whatsapp %>" data-sm="true" data-field-name='Whatsapp'>
                                    <i class="fa-brands fa-whatsapp"></i>
                                </a>
                            </div>
                            <div class="bcard-acticon ico-insta">
                                <a target="_blank" name="f_insta" href="<%= domain_data.data.f_insta %>" data-sm="true" data-field-name='Instagram'>
                                    <i class="fa-brands fa-instagram"></i>
                                </a>
                            </div>
                            <div class="bcard-acticon ico-tw">
                                <a target="_blank" name="f_twitter" href="<%= domain_data.data.f_twitter %>" data-sm="true" data-field-name='Twitter'>
                                    <i class="fa-brands fa-twitter"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bcard-cont">
                    <div class="bcard-sec">
                        <div class="bcard-secbg-me">
                        </div>
                        <div class="bcard-padd">
                            <div class="bcard-frow-subsec">
                                <span class="bcard-btxt" name="f_company_name" data-field-name="Company Name" data-multiline="false">
                                    <%= domain_data.data.f_company_name %>
                                </span>
                                
                            </div>
                            <a target="_blank" name="f_phone" href="tel:<%= domain_data.data.f_phone %>" data-sm="true" data-field-name='Phone No' class="bcard-frow-sec">
                                <div class="bcard-smico-sec">
                                    <i class="fa-solid fa-phone"></i>
                                </div>
                                <div class="bcard-sub-txt">
                                    <%= domain_data.data.f_phone %>
                                </div>
                            </a>
                            <a target="_blank" name="f_website" href="<%= domain_data.data.f_website %>" data-sm="true" data-field-name='Website' class="bcard-frow-sec">
                                <div class="bcard-smico-sec">
                                    <i class="fa-solid fa-globe"></i>
                                </div>
                                <div class="bcard-sub-txt">
                                    <%= domain_data.data.f_website %>
                                </div>
                            </a>
                            <a target="_blank" name="f_email" href="mailto:<%= domain_data.data.f_email %>" data-sm="true" data-field-name='Email' class="bcard-frow-sec">
                                <div class="bcard-smico-sec">
                                    <i class="fa-solid fa-envelope"></i>
                                </div>
                                <div class="bcard-sub-txt">
                                    <%= domain_data.data.f_email %>
                                </div>
                            </a>
                            <a target="_blank" name="f_location" href="<%= domain_data.data.f_location %>" data-sm="true" data-field-name='Location' class="bcard-frow-sec">
                                <div class="bcard-smico-sec">
                                    <i class="fa-sharp fa-solid fa-location-dot"></i>
                                </div>
                                <div class="bcard-sub-txt">
                                    <%= domain_data.data.f_location %>
                                </div>
                            </a>
                            <div class="bcard-ph-sec">
                                <div class="bcard-sec-btn">
                                    Add to Contacts
                                </div>
                                <a target="_blank" id="share_wa" class="bcard-sec-btn" href="#">
                                    Share on Whatsapp
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="bcard-sec">
                        <a id="About">
                            <span class="bcard-btxt" name="f_about_title" data-field-name="About Title" data-multiline="false">
                                <%= domain_data.data.f_about_title %>
                            </span>
                            <div class="bcard-sub-sec">
                                <div>
                                    <span class="bcard-sub-lbl" name="f_about_txt_1" data-field-name="About Section 1" data-multiline="false">
                                        <%= domain_data.data.f_about_txt_1 %>
                                    </span>
                                </div>
                                <div>
                                    <span class="bcard-sub-lbl" name="f_about_txt_2" data-field-name="About Section 2" data-multiline="true">
                                        <%= domain_data.data.f_about_txt_2 %>
                                    </span>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="bcard-sec">
                        <a id="Services">
                            <span class="bcard-btxt" name="f_services_title" data-field-name="Services Title" data-multiline="false">
                                <%= domain_data.data.f_services_title %>
                            </span>
                            <div class="bcard-sub-sec">
                                <div>
                                    <span class="bcard-sub-lbl" name="f_services_txt_1" data-field-name="Services Section 1" data-multiline="false">
                                        <%= domain_data.data.f_services_txt_1 %>
                                    </span>
                                </div>
                                <div>
                                    <span class="bcard-sub-lbl" name="f_services_txt_2" data-field-name="Services Section 2" data-multiline="true">
                                        <%= domain_data.data.f_services_txt_2 %>
                                    </span>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="bcard-sec">
                        <a id="Products">
                            <span class="bcard-btxt" name="f_products_title" data-field-name="Products Title" data-multiline="false">
                                <%= domain_data.data.f_products_title %>
                            </span>
                            <div class="bcard-prod-cont">
                                <div class="bcard-prod-imgb">
                                    <img class="bcard-prod-img" name="f_prod_img1" data-field-name="Watches" src='<%= domain_data.data.f_prod_img1 %>' />
                                </div>
                                <div class="bcard-prod-imgb">
                                    <img class="bcard-prod-img" name="f_prod_img2" data-field-name="Smart Watches" src='<%= domain_data.data.f_prod_img2 %>' />
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="bcard-sec">
                        <a id="Enquiry">
                            <div class="bcard-btxt">
                                Contact Us
                            </div>
                            <div class="bcard-sub-sec">
                                <div class="bcard-frm-sec">
                                    <div class="bcard-frm-btxt">
                                        FirstName
                                    </div>
                                    <div class="bcard-frm-inpb">
                                        <input placeholder="FirstName" id="fn" type="text" class="bcard-frm-inp" />
                                    </div>
                                </div>
                                <div class="bcard-inp-sec">
                                    <div class="bcard-frm-sec bcard-frm-half">
                                        <div class="bcard-frm-btxt">
                                            Mobile Number
                                        </div>
                                        <div class="bcard-frm-inpb">
                                            <input min="10" max="10" placeholder="Mobile No" id="pno" type="number" class="bcard-frm-inp" />
                                        </div>
                                    </div>
                                    <div class="bcard-frm-sec bcard-frm-half">
                                        <div class="bcard-frm-btxt">
                                            Email
                                        </div>
                                        <div class="bcard-frm-inpb">
                                            <input placeholder="Email" id="femail" type="email" class="bcard-frm-inp" />
                                        </div>
                                    </div>
                                </div>
                                <div class="bcard-frm-sec">
                                    <div class="bcard-frm-btxt">
                                        Message
                                    </div>
                                    <div>
                                        <textarea placeholder="Message" id="fmess" type="text" class="bcard-frm-ml"></textarea>
                                    </div>
                                </div>
                                <div class="bcard-btn pn" id="submit_data" data-api="<%= domain_data.data.api %>" onclick="submitData(this);">
                                    Submit
                                </div>
                            </div>
                    </a>
                </div>
                <div class="bcard-sec bcard-ft">
                    <span class="bcard-ft-btxt" name="f_address" data-field-name="Address" data-multiline="true">
                        <%= domain_data.data.f_address %>
                    </span>
                    <span class="bcard-ft-btxt" name="f_phno" data-field-name="Contact" data-multiline="false">
                        <%= domain_data.data.f_phno %>
                    </span>
                    <span class="bcard-ft-lbl" name="f_copyright" data-field-name="Copyright" data-multiline="false">
                        <%= domain_data.data.f_copyright %>
                    </span>
                </div>
                <div class="bcard-copyrgt-ft">
                    Designed & Developed by
                    <div class="bcard-ft-logo">
                        <div class="bcard-ft-img">
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <div class="bcard-opt-fix">
                <a href="#Home" class="bcard-opt">
                    <div class="bcard-opt-ico">
                        <i class="fa-solid fa-house-chimney"></i>
                    </div>
                    <div class="bcard-opt-txt">
                        Home
                    </div>
                </a>
                <a href="#About" class="bcard-opt">
                    <div class="bcard-opt-ico">
                        <i class="fa-solid fa-circle-info"></i>
                    </div>
                    <div class="bcard-opt-txt">
                        About
                    </div>
                </a>
                <a href="#Services" class="bcard-opt">
                    <div class="bcard-opt-ico">
                        <i class="fa-solid fa-hand-holding-hand"></i>
                    </div>
                    <div class="bcard-opt-txt">
                        Services
                    </div>
                </a>
                <a href="#Enquiry" class="bcard-opt">
                    <div class="bcard-opt-ico">
                        <i class="fa-solid fa-comment"></i>
                    </div>
                    <div class="bcard-opt-txt">
                        Enquiry
                    </div>
                </a>
            </div>
        </div>
    </div>
    <style>
        :root {
                --primary: #3794e9;
                --primary-lt: #f1f8ff;
                --primary-dk:  #002f5a;
                --white:#ffffff;
                --gry-lt:  #f9f9f9;
                --gry: #efefef;
                --gry-dk:  #6e6e6e;
            }

            * {
                    margin: 0px;
                    padding: 0px;
                    box-sizing: border-box;
                            }

                html {
                    font-size: 15px;
                }

                body {
                    padding: 0px;
                    margin: 0px;
                }

                
                .bcard-temp-2[data-theme="me_001"]{
                    --primary: #ffbf42;
                    --primary-dk: #0b416f;
                    --primary-lt:  #fffbf5;
                }
            </style>
    <% } %>
    <% if(domain_data.data.api.substring(22, 28) ==='sp_001') { %>
    <div class="abc-hexa-bg">

    <div class="bcard-parent">
        <div class="bcard-box bcard-temp-3" data-theme="sp_001">
            <a id="Home"></a>

            <div class="bcard-prof bcard-comp">
                <img src="<%= domain_data.data.f_company_img %>" name="f_company_img" data-field-name="Company Logo" class="bcard-profimg bcard-compimg">
            </div>
            <div class="bcard-profbox">
                <div class="bcard-prof">
                    <img src="<%= domain_data.data.f_prof_img %>" name="f_prof_img" data-field-name="Profile" class="bcard-profimg">
                </div>
                <div class="bcard-prof-sec">
                    <div>
                        <span class="bcard-prof-btxt" name="f_prof_name" data-field-name="Profile Name" data-multiline="false">
                            <%= domain_data.data.f_prof_name %>
                        </span>
                        <span class="bcard-prof-smtxt" name="f_prof_profession" data-field-name="Profession" data-multiline="false">
                                <%= domain_data.data.f_prof_profession %>
                            </span>
                    </div>
                    <div class="bcard-act">
                        <div class="bcard-acticon ico-fb">
                            <a target="_blank" name="f_fb" href="<%= domain_data.data.f_fb %>" data-sm="true" data-field-name='Facebook'>
                                <i class="fa-brands fa-facebook-f"></i>
                            </a>
                        </div>
                        <div class="bcard-acticon ico-whatsapp">
                            <a target="_blank" name="f_whatsapp" href="https://wa.me/<%= domain_data.data.f_whatsapp %>" data-sm="true" data-field-name='Whatsapp'>
                                <i class="fa-brands fa-whatsapp"></i>
                            </a>
                        </div>
                        <div class="bcard-acticon ico-insta">
                            <a target="_blank" name="f_insta" href="<%= domain_data.data.f_insta %>" data-sm="true" data-field-name='Instagram'>
                                <i class="fa-brands fa-instagram"></i>
                            </a>
                        </div>
                        <div class="bcard-acticon ico-tw">
                            <a target="_blank" name="f_twitter" href="<%= domain_data.data.f_twitter %>" data-sm="true" data-field-name='Twitter'>
                                <i class="fa-brands fa-twitter"></i>
                            </a>
                        </div>
                        <div class="bcard-acticon ico-linked">
                            <a target="_blank" name="f_linked" href="<%= domain_data.data.f_linked %>" data-sm="true" data-field-name='Linked In'>
                                <i class="fa-brands fa-linkedin-in"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bcard-cont">
                <div class="bcard-sec-full">
                    <div class="bcard-temp-3bg">
                    </div>
                    <div class="bcard-padd">
                        <div class="bcard-frow-subsec">
                            <span class="bcard-btxt" name="f_company_name" data-field-name="Company Name" data-multiline="false">
                                <%= domain_data.data.f_company_name %>
                            </span>
                            
                        </div>
                        <a target="_blank" name="f_phone" href="tel:<%= domain_data.data.f_phone %>" data-sm="true" data-field-name='Phone No' class="bcard-frow-sec">
                            <div class="bcard-smico-sec">
                                <i class="fa-solid fa-phone"></i>
                            </div>
                            <div class="bcard-sub-txt">
                                <%= domain_data.data.f_phone %>
                            </div>
                        </a>
                        <a target="_blank" name="f_website" href="<%= domain_data.data.f_website %>" data-sm="true" data-field-name='Website' class="bcard-frow-sec">
                            <div class="bcard-smico-sec">
                                <i class="fa-solid fa-globe"></i>
                            </div>
                            <div class="bcard-sub-txt">
                                <%= domain_data.data.f_website %>
                            </div>
                        </a>
                        <a target="_blank" name="f_email" href="mailto:<%= domain_data.data.f_email %>" data-sm="true" data-field-name='Email' class="bcard-frow-sec">
                            <div class="bcard-smico-sec">
                                <i class="fa-solid fa-envelope"></i>
                            </div>
                            <div class="bcard-sub-txt">
                                <%= domain_data.data.f_email %>
                            </div>
                        </a>
                        <a target="_blank" name="f_location" href="<%= domain_data.data.f_location %>" data-sm="true" data-field-name='Location' class="bcard-frow-sec">
                            <div class="bcard-smico-sec">
                                <i class="fa-sharp fa-solid fa-location-dot"></i>
                            </div>
                            <div class="bcard-sub-txt">
                                <%= domain_data.data.f_location %>
                            </div>
                        </a>
                        <div class="bcard-ph-sec">
                            <div class="bcard-sec-btn">
                                Add to Contacts
                            </div>
                            <a target="_blank" id="share_wa" class="bcard-sec-btn" href="#">
                                Share on Whatsapp
                            </a>
                        </div>
                    </div>
                </div>
                <div class="bcard-sec">
                    <a id="About">
                        <span class="bcard-btxt" name="f_about_title" data-field-name="About Title" data-multiline="false">
                            <%= domain_data.data.f_about_title %>
                        </span>
                        <div class="bcard-sub-sec">
                            <div>
                                <span class="bcard-sub-lbl" name="f_about_txt_1" data-field-name="About Section 1" data-multiline="false">
                                    <%= domain_data.data.f_about_txt_1 %>
                                </span>
                            </div>
                            <div>
                                <span class="bcard-sub-lbl" name="f_about_txt_2" data-field-name="About Section 2" data-multiline="true">
                                    <%= domain_data.data.f_about_txt_2 %>
                                </span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="bcard-sec">
                    <a id="Services">
                        <span class="bcard-btxt" name="f_services_title" data-field-name="Services Title" data-multiline="false">
                            <%= domain_data.data.f_services_title %>
                        </span>
                        <div class="bcard-sub-sec">
                            <div>
                                <span class="bcard-sub-lbl" name="f_services_txt_1" data-field-name="Services Section 1" data-multiline="false">
                                    <%= domain_data.data.f_services_txt_1 %>
                                </span>
                            </div>
                            <div>
                                <span class="bcard-sub-lbl" name="f_services_txt_2" data-field-name="Services Section 2" data-multiline="true">
                                    <%= domain_data.data.f_services_txt_2 %>
                                </span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="bcard-sec">
                    <a id="Enquiry">
                        <div class="bcard-btxt">
                            Contact Us
                        </div>
                        <div class="bcard-sub-sec">
                            <div class="bcard-frm-sec">
                                <div class="bcard-frm-btxt">
                                    FirstName
                                </div>
                                <div class="bcard-frm-inpb">
                                    <input placeholder="FirstName" id="fn" type="text" class="bcard-frm-inp" />
                                </div>
                            </div>
                            <div class="bcard-inp-sec">
                                <div class="bcard-frm-sec bcard-frm-half">
                                    <div class="bcard-frm-btxt">
                                        Mobile Number
                                    </div>
                                    <div class="bcard-frm-inpb">
                                        <input min="10" max="10" placeholder="Mobile No" id="pno" type="number" class="bcard-frm-inp" />
                                    </div>
                                </div>
                                <div class="bcard-frm-sec bcard-frm-half">
                                    <div class="bcard-frm-btxt">
                                        Email
                                    </div>
                                    <div class="bcard-frm-inpb">
                                        <input placeholder="Email" id="femail" type="email" class="bcard-frm-inp" />
                                    </div>
                                </div>
                            </div>
                            <div class="bcard-frm-sec">
                                <div class="bcard-frm-btxt">
                                    Message
                                </div>
                                <div>
                                    <textarea placeholder="Message" id="fmess" type="text" class="bcard-frm-ml"></textarea>
                                </div>
                            </div>
                            <div class="bcard-btn pn" id="submit_data" data-api="<%= domain_data.data.api %>" onclick="submitData(this);">
                                Submit
                            </div>
                        </div>
                </a>
            </div>
            <div class="bcard-sec bcard-ft">
                <span class="bcard-ft-btxt" name="f_address" data-field-name="Address" data-multiline="true">
                    <%= domain_data.data.f_address %>
                </span>
                <span class="bcard-ft-btxt" name="f_phno" data-field-name="Contact" data-multiline="false">
                    <%= domain_data.data.f_phno %>
                </span>
                <span class="bcard-ft-lbl" name="f_copyright" data-field-name="Copyright" data-multiline="false">
                    <%= domain_data.data.f_copyright %>
                </span>
            </div>
            <div class="bcard-copyrgt-ft">
                Designed & Developed by
                <div class="bcard-ft-logo">
                    <div class="bcard-ft-img">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bcard-opt-fix">
        <a href="#Home" class="bcard-opt">
            <div class="bcard-opt-ico">
                <i class="fa-solid fa-house-chimney"></i>
            </div>
            <div class="bcard-opt-txt">
                Home
            </div>
        </a>
        <a href="#About" class="bcard-opt">
            <div class="bcard-opt-ico">
                <i class="fa-solid fa-circle-info"></i>
            </div>
            <div class="bcard-opt-txt">
                About
            </div>
        </a>
        <a href="#Services" class="bcard-opt">
            <div class="bcard-opt-ico">
                <i class="fa-solid fa-hand-holding-hand"></i>
            </div>
            <div class="bcard-opt-txt">
                Services
            </div>
        </a>
        <a href="#Enquiry" class="bcard-opt">
            <div class="bcard-opt-ico">
                <i class="fa-solid fa-comment"></i>
            </div>
            <div class="bcard-opt-txt">
                Enquiry
            </div>
        </a>
    </div>
    </div>
</div>
    <style>
        :root {
                --primary: #3794e9;
                --primary-lt: #f1f8ff;
                --primary-dk:  #002f5a;
                --white:#ffffff;
                --gry-lt:  #f9f9f9;
                --gry: #efefef;
                --gry-dk:  #6e6e6e;
            }

            * {
                margin: 0px;
                padding: 0px;
                box-sizing: border-box;
            }

            html {
                font-size: 15px;
            }

            body {
                padding: 0px;
                margin: 0px;
            }

            .bcard-temp-3[data-theme="sp_001"]{
                --primary:  #00d3d3;
                --primary-dk: #006860;
                --primary-lt:  #e8fffd;
            }
            </style>
    <% } %>

    <% if(domain_data.data.api.substring(22, 28) ==='ts_001') { %>
    <div class="abc-hexa-bg">

    <div class="bcard-parent">
        <div class="bcard-box bcard-temp-4" data-theme="ts_001">
            <a id="Home"></a>
            <div class="bcard-profbox">
                <div class="bcard-prof bcard-comp">
                    <img src="<%= domain_data.data.f_company_img %>" name="f_company_img" data-field-name="Company Logo" class="bcard-profimg bcard-compimg">
                </div>
                <div class="bcard-prof">
                    <img src="<%= domain_data.data.f_prof_img %>" name="f_prof_img" data-field-name="Profile" class="bcard-profimg">
                </div>
                <div class="bcard-prof-sec">
                    <div>
                        <span class="bcard-prof-btxt" name="f_prof_name" data-field-name="Profile Name" data-multiline="false">
                            <%= domain_data.data.f_prof_name %>
                        </span>
                        <span class="bcard-prof-smtxt" name="f_prof_profession" data-field-name="Profession" data-multiline="false">
                                <%= domain_data.data.f_prof_profession %>
                            </span>
                    </div>
                </div>
                <div class="bcard-act">
                    <div class="bcard-acticon ico-fb">
                        <a target="_blank" name="f_fb" href="<%= domain_data.data.f_fb %>" data-sm="true" data-field-name='Facebook'>
                            <i class="fa-brands fa-facebook-f"></i>
                        </a>
                    </div>
                    <div class="bcard-acticon ico-whatsapp">
                        <a target="_blank" name="f_whatsapp" href="https://wa.me/<%= domain_data.data.f_whatsapp %>" data-sm="true" data-field-name='Whatsapp'>
                            <i class="fa-brands fa-whatsapp"></i>
                        </a>
                    </div>
                    <div class="bcard-acticon ico-insta">
                        <a target="_blank" name="f_insta" href="<%= domain_data.data.f_insta %>" data-sm="true" data-field-name='Instagram'>
                            <i class="fa-brands fa-instagram"></i>
                        </a>
                    </div>
                    <div class="bcard-acticon ico-tw">
                        <a target="_blank" name="f_twitter" href="<%= domain_data.data.f_twitter %>" data-sm="true" data-field-name='Twitter'>
                            <i class="fa-brands fa-twitter"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="bcard-cont">
                <div class="bcard-sec">
                    <div class="bcard-padd">
                        <div class="bcard-frow-subsec">
                            <span class="bcard-btxt" name="f_company_name" data-field-name="Company Name" data-multiline="false">
                                <%= domain_data.data.f_company_name %>
                            </span>
                            
                        </div>
                        <a target="_blank" name="f_phone" href="tel:<%= domain_data.data.f_phone %>" data-sm="true" data-field-name='Phone No' class="bcard-frow-sec">
                            <div class="bcard-smico-sec">
                                <i class="fa-solid fa-phone"></i>
                            </div>
                            <div class="bcard-sub-txt">
                                <%= domain_data.data.f_phone %>
                            </div>
                        </a>
                        <a target="_blank" name="f_website" href="<%= domain_data.data.f_website %>" data-sm="true" data-field-name='Website' class="bcard-frow-sec">
                            <div class="bcard-smico-sec">
                                <i class="fa-solid fa-globe"></i>
                            </div>
                            <div class="bcard-sub-txt">
                                <%= domain_data.data.f_website %>
                            </div>
                        </a>
                        <a target="_blank" name="f_email" href="mailto:<%= domain_data.data.f_email %>" data-sm="true" data-field-name='Email' class="bcard-frow-sec">
                            <div class="bcard-smico-sec">
                                <i class="fa-solid fa-envelope"></i>
                            </div>
                            <div class="bcard-sub-txt">
                                <%= domain_data.data.f_email %>
                            </div>
                        </a>
                        <a target="_blank" name="f_location" href="<%= domain_data.data.f_location %>" data-sm="true" data-field-name='Location' class="bcard-frow-sec">
                            <div class="bcard-smico-sec">
                                <i class="fa-sharp fa-solid fa-location-dot"></i>
                            </div>
                            <div class="bcard-sub-txt">
                                <%= domain_data.data.f_location %>
                            </div>
                        </a>
                        <div class="bcard-ph-sec">
                            <div class="bcard-sec-btn">
                                Add to Contacts
                            </div>
                            <a target="_blank" id="share_wa" class="bcard-sec-btn" href="#">
                                Share on Whatsapp
                            </a>
                        </div>
                    </div>
                </div>
                <div class="bcard-sec">
                    <a id="About">
                        <span class="bcard-btxt" name="f_about_title" data-field-name="About Title" data-multiline="false">
                            <%= domain_data.data.f_about_title %>
                        </span>
                        <div class="bcard-sub-sec">
                            <div>
                                <span class="bcard-sub-lbl" name="f_about_txt_1" data-field-name="About Section 1" data-multiline="false">
                                    <%= domain_data.data.f_about_txt_1 %>
                                </span>
                            </div>
                            <div>
                                <span class="bcard-sub-lbl" name="f_about_txt_2" data-field-name="About Section 2" data-multiline="true">
                                    <%= domain_data.data.f_about_txt_2 %>
                                </span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="bcard-sec">
                    <a id="Services">
                        <span class="bcard-btxt" name="f_services_title" data-field-name="Services Title" data-multiline="false">
                            <%= domain_data.data.f_services_title %>
                        </span>
                        <div class="bcard-sub-sec">
                            <div>
                                <span class="bcard-sub-lbl" name="f_services_txt_1" data-field-name="Services Section 1" data-multiline="false">
                                    <%= domain_data.data.f_services_txt_1 %>
                                </span>
                            </div>
                            <div>
                                <span class="bcard-sub-lbl" name="f_services_txt_2" data-field-name="Services Section 2" data-multiline="true">
                                    <%= domain_data.data.f_services_txt_2 %>
                                </span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="bcard-sec">
                    <a id="Products">
                        <span class="bcard-btxt" name="f_products_title" data-field-name="Products Title" data-multiline="false">
                            <%= domain_data.data.f_products_title %>
                        </span>
                        <div class="bcard-prod-cont">
                            <div class="bcard-prod-imgb">
                                <img class="bcard-prod-img" name="f_prod_img1" data-field-name="Watches" src='<%= domain_data.data.f_prod_img1 %>' />
                            </div>
                            <div class="bcard-prod-imgb">
                                <img class="bcard-prod-img" name="f_prod_img2" data-field-name="Smart Watches" src='<%= domain_data.data.f_prod_img2 %>' />
                            </div>
                        </div>
                    </a>
                </div>
                <div class="bcard-sec">
                    <a id="Enquiry">
                        <div class="bcard-btxt">
                            Contact Us
                        </div>
                        <div class="bcard-sub-sec">
                            <div class="bcard-frm-sec">
                                <div class="bcard-frm-btxt">
                                    FirstName
                                </div>
                                <div class="bcard-frm-inpb">
                                    <input placeholder="FirstName" id="fn" type="text" class="bcard-frm-inp" />
                                </div>
                            </div>
                            <div class="bcard-inp-sec">
                                <div class="bcard-frm-sec bcard-frm-half">
                                    <div class="bcard-frm-btxt">
                                        Mobile Number
                                    </div>
                                    <div class="bcard-frm-inpb">
                                        <input min="10" max="10" placeholder="Mobile No" id="pno" type="number" class="bcard-frm-inp" />
                                    </div>
                                </div>
                                <div class="bcard-frm-sec bcard-frm-half">
                                    <div class="bcard-frm-btxt">
                                        Email
                                    </div>
                                    <div class="bcard-frm-inpb">
                                        <input placeholder="Email" id="femail" type="email" class="bcard-frm-inp" />
                                    </div>
                                </div>
                            </div>
                            <div class="bcard-frm-sec">
                                <div class="bcard-frm-btxt">
                                    Message
                                </div>
                                <div>
                                    <textarea placeholder="Message" id="fmess" type="text" class="bcard-frm-ml"></textarea>
                                </div>
                            </div>
                            <div class="bcard-btn pn" id="submit_data" data-api="<%= domain_data.data.api %>" onclick="submitData(this);">
                                Submit
                            </div>
                        </div>
                </a>
            </div>
            <div class="bcard-sec bcard-ft">
                <span class="bcard-ft-btxt" name="f_address" data-field-name="Address" data-multiline="true">
                    <%= domain_data.data.f_address %>
                </span>
                <span class="bcard-ft-btxt" name="f_phno" data-field-name="Contact" data-multiline="false">
                    <%= domain_data.data.f_phno %>
                </span>
                <span class="bcard-ft-lbl" name="f_copyright" data-field-name="Copyright" data-multiline="false">
                    <%= domain_data.data.f_copyright %>
                </span>
            </div>
            <div class="bcard-copyrgt-ft">
                Designed & Developed by
                <div class="bcard-ft-logo">
                    <div class="bcard-ft-img">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bcard-opt-fix">
        <a href="#Home" class="bcard-opt">
            <div class="bcard-opt-ico">
                <i class="fa-solid fa-house-chimney"></i>
            </div>
            <div class="bcard-opt-txt">
                Home
            </div>
        </a>
        <a href="#About" class="bcard-opt">
            <div class="bcard-opt-ico">
                <i class="fa-solid fa-circle-info"></i>
            </div>
            <div class="bcard-opt-txt">
                About
            </div>
        </a>
        <a href="#Services" class="bcard-opt">
            <div class="bcard-opt-ico">
                <i class="fa-solid fa-hand-holding-hand"></i>
            </div>
            <div class="bcard-opt-txt">
                Services
            </div>
        </a>
        <a href="#Enquiry" class="bcard-opt">
            <div class="bcard-opt-ico">
                <i class="fa-solid fa-comment"></i>
            </div>
            <div class="bcard-opt-txt">
                Enquiry
            </div>
        </a>
    </div>
    </div>
    </div>
    <style>
        :root {
                --primary: #3794e9;
                --primary-lt: #f1f8ff;
                --primary-dk:  #002f5a;
                --white:#ffffff;
                --gry-lt:  #f9f9f9;
                --gry: #efefef;
                --gry-dk:  #6e6e6e;
            }

            * {
                    margin: 0px;
                    padding: 0px;
                    box-sizing: border-box;
                }

                html {
                    font-size: 15px;
                }

                body {
                    padding: 0px;
                    margin: 0px;
                }

                .bcard-temp-4[data-theme="ts_001"]{
                    --primary: #f58646;
                    --primary-dk: #BA4605;
                    --primary-lt: #FFF5EF;
                }
            </style>
    <% } %>

   <% if(domain_data.data.api.substring(22, 28) ==='wt_001') { %>
        <div>
            <div class="wt-head">
                <div class="wt-hlogo">
                    <img src="<%= domain_data.data.f_logo_1 %>" name="f_logo_1" data-field-name="Logo" class="wt-hlogo-img">
                </div>
                <div class="wt-burg" onclick="openLinkNav(this);">
                    <div class="wt-burg-line"></div>
                </div>
                <div class="wt-hlnks">
                    <div class="wt-hlnk" id="home" onclick="loadLink(this)">
                        <div class="wt-lnk-ico home-ico">
                        </div>
                        <div>
                            Home    
                        </div>
                        
                    </div>
                    <div class="wt-hlnk" id="services" onclick="loadLink(this)">
                         <div class="wt-lnk-ico serv-ico">
                        </div>
                        <div>
                            Services    
                        </div>
                    </div>
                    <div class="wt-hlnk" id="about" onclick="loadLink(this)">
                       <div class="wt-lnk-ico about-ico">
                        </div>
                        <div>
                            About    
                        </div>
                        
                    </div>
                    <div class="wt-hlnk" id="contact" onclick="loadLink(this)">
                        <div class="wt-lnk-ico cont-ico">
                        </div>
                        <div>
                            Contact    
                        </div>
                        
                    </div>
                    <div class="wt-hlnk-close" onclick="openLinkNav(this);">
                    </div>
                </div>
            </div>
            <div class="wt-parent-sec" id="main_sec">
                <div class="wt-container">
                    <div class="wt-sec wt-sec-center">
                        <div class="wt-sec-box">
                            <span class="wt-lg-txt wt-xlg-txt" name="f_title_1" data-field-name="Title" data-multiline="false">
                               <%= domain_data.data.f_title_1 %>
                            </span>
                            <span class="wt-sub-txt wt-xsub-txt" name="f_des_1" data-field-name="Description" data-multiline="true">
                                <%= domain_data.data.f_des_1 %>
                            </span>
                            <span class="wt-btn" name="f_btn_1" data-field-name="Button" data-multiline="false">
                               <%= domain_data.data.f_btn_1 %>
                            </span>
                        </div>
                        <div class="wt-sec-box">
                            <div class="wt-sec-imgb">
                                <img src="<%= domain_data.data.f_hero_1 %>" name="f_hero_1" data-field-name="Hero Image" class="wt-sec-img">
                            </div>
                        </div>
                    </div>
                    <div class="wt-sec-padd wt-lt-bg">
                        <div class="wt-sec-title">
                            Features
                        </div>
                        <div class="wt-fea-sec">
                            <div class="wt-fea-cont">
                                <div class="wt-fea-box">
                                    <div class="wt-fea-icob">
                                        <img src="<%= domain_data.data.f_feature_icon__1 %>" name="f_feature_icon__1" data-field-name="Feature Icon 1" class="wt-fea-icon">
                                    </div>
                                    <span class="wt-lg-txt" name="f_feature_title__1" data-field-name="Feature Title 1" data-multiline="false">
                                        <%= domain_data.data.f_feature_title__1 %>
                                    </span>
                                    <span class="wt-sub-txt" name="f_feature_des__1" data-field-name="Feature Description 1" data-multiline="true">
                                        <%= domain_data.data.f_feature_des__1 %>
                                    </span>
                                </div>
                                <div class="wt-fea-bg"></div>
                            </div>
                            <div class="wt-fea-cont">
                                <div class="wt-fea-box">
                                    <div class="wt-fea-icob">
                                        <img src="<%= domain_data.data.f_feature_icon__2 %>" name="f_feature_icon__2" data-field-name="Feature Icon 2" class="wt-fea-icon">
                                    </div>
                                    <span class="wt-lg-txt" name="f_feature_title__2" data-field-name="Feature Title 2" data-multiline="false">
                                        <%= domain_data.data.f_feature_title__2 %>
                                    </span>
                                    <span class="wt-sub-txt" name="f_feature_des__2" data-field-name="Feature Description 2" data-multiline="true">
                                        <%= domain_data.data.f_feature_des__2 %>
                                    </span>
                                </div>
                                <div class="wt-fea-bg"></div>
                            </div>
                            <div class="wt-fea-cont">
                                <div class="wt-fea-box">
                                    <div class="wt-fea-icob">
                                        <img src="<%= domain_data.data.f_feature_icon__3 %>" name="f_feature_icon__3" data-field-name="Feature Icon 3" class="wt-fea-icon">
                                    </div>
                                    <span class="wt-lg-txt" name="f_feature_title__3" data-field-name="Feature Title 3" data-multiline="false">
                                       <%= domain_data.data.f_feature_title__3 %>
                                    </span>
                                    <span class="wt-sub-txt" name="f_feature_des__3" data-field-name="Feature Description 3" data-multiline="true">
                                        <%= domain_data.data.f_feature_des__3 %>
                                    </span>
                                </div>
                                <div class="wt-fea-bg"></div>
                            </div>
                            <div class="wt-fea-cont">
                                <div class="wt-fea-box">
                                    <div class="wt-fea-icob">
                                        <img src="<%= domain_data.data.f_feature_icon__4 %>" name="f_feature_icon__4" data-field-name="Feature Icon 4" class="wt-fea-icon">
                                    </div>
                                    <span class="wt-lg-txt" name="f_feature_title__4" data-field-name="Feature Title 4" data-multiline="false">
                                       <%= domain_data.data.f_feature_title__4 %>
                                    </span>
                                    <span class="wt-sub-txt" name="f_feature_des__4" data-field-name="Feature Description 4" data-multiline="true">
                                       <%= domain_data.data.f_feature_des__4 %>
                                    </span>
                                </div>
                                <div class="wt-fea-bg"></div>
                            </div>
                            <div class="wt-fea-cont">
                                <div class="wt-fea-box">
                                    <div class="wt-fea-icob">
                                        <img src="<%= domain_data.data.f_feature_icon__5 %>" name="f_feature_icon__5" data-field-name="Feature Icon 5" class="wt-fea-icon">
                                    </div>
                                    <span class="wt-lg-txt" name="f_feature_title__5" data-field-name="Feature Title 5" data-multiline="false">
                                        <%= domain_data.data.f_feature_title__5 %>
                                    </span>
                                    <span class="wt-sub-txt" name="f_feature_des__5" data-field-name="Feature Description 5" data-multiline="true">
                                       <%= domain_data.data.f_feature_des__5 %>
                                    </span>
                                </div>
                                <div class="wt-fea-bg"></div>
                            </div>
                            <div class="wt-fea-cont">
                                <div class="wt-fea-box">
                                    <div class="wt-fea-icob">
                                        <img src="<%= domain_data.data.f_feature_icon__6 %>" name="f_feature_icon__6" data-field-name="Feature Icon 6" class="wt-fea-icon">
                                    </div>
                                    <span class="wt-lg-txt" name="f_feature_title__6" data-field-name="Feature Title 6" data-multiline="false">
                                       <%= domain_data.data.f_feature_title__6 %>
                                    </span>
                                    <span class="wt-sub-txt" name="f_feature_des__6" data-field-name="Feature Description 6" data-multiline="true">
                                         <%= domain_data.data.f_feature_des__6 %>
                                    </span>
                                </div>
                                <div class="wt-fea-bg"></div>
                            </div>
                        </div>
                    </div>
                    <div class="wt-sec-padd">
                        <div class="wt-sec wt-sec-rev">
                            <div class="wt-sec-box">
                                <div class="wt-sec-imgb">
                                    <img src="<%= domain_data.data.f_sec_img__1 %>" name="f_sec_img__1" data-field-name="Section Image 1" class="wt-sec-img">
                                </div>
                                <div class="wt-img-bg">
                                </div>
                            </div>
                            <div class="wt-sec-box">
                                <span class="wt-lg-txt" name="f_sec_title__1" data-field-name="Section Title 1" data-multiline="false">
                                   <%= domain_data.data.f_sec_title__1 %>
                                </span>
                                <div>
                                    <span class="wt-sub-txt wt-point" name="f_sec_des__1" data-field-name="Description Title 1" data-multiline="true">
                                       <%= domain_data.data.f_sec_des__1 %>
                                    </span>
                                    <span class="wt-sub-txt wt-point" name="f_sec_des__2" data-field-name="Description Title 2" data-multiline="true">
                                        <%= domain_data.data.f_sec_des__2 %>
                                    </span>
                                    <span class="wt-sub-txt wt-point" name="f_sec_des__3" data-field-name="Description Title 3" data-multiline="true">
                                        <%= domain_data.data.f_sec_des__3 %>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="wt-parent-sec dn" id="services_sec">
                <div class="wt-sec-padd ">
                    <div class="wt-sec-title">
                        Services We Offer
                    </div>
                    <div>
                        <div class="wt-service-sec">
                            <div class="wt-serv-box">
                                <div class="wt-fea-icob">
                                    <img src="<%= domain_data.data.f_service_icon__1 %>" name="f_service_icon__1" data-field-name="Services Icon 1" class="wt-fea-icon">
                                </div>
                                <div class="wt-serv-subsec">
                                    <span class="wt-lg-txt" name="f_service_title__1" data-field-name="Services Title 1" data-multiline="false">
                                        <%= domain_data.data.f_service_title__1 %>
                                    </span>
                                    <span class="wt-sub-txt" name="f_service_des__1" data-field-name="Services Description 1" data-multiline="true">
                                        <%= domain_data.data.f_service_des__1 %>
                                    </span>
                                </div>
                            </div>
                            <div class="wt-serv-box">
                                <div class="wt-fea-icob">
                                    <img src="<%= domain_data.data.f_service_icon__2 %>" name="f_service_icon__2" data-field-name="Services Icon 2" class="wt-fea-icon">
                                </div>
                                <div class="wt-serv-subsec">
                                    <span class="wt-lg-txt" name="f_service_title__2" data-field-name="Services Title 2" data-multiline="false">
                                        <%= domain_data.data.f_service_title__2 %>
                                    </span>
                                    <span class="wt-sub-txt" name="f_service_des__2" data-field-name="Services Description 2" data-multiline="true">
                                       <%= domain_data.data.f_service_des__2 %>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="wt-service-sec">
                            <div class="wt-serv-box">
                                <div class="wt-fea-icob">
                                    <img src="<%= domain_data.data.f_service_icon__3 %>" name="f_service_icon__3" data-field-name="Services Icon 3" class="wt-fea-icon">
                                </div>
                                <div class="wt-serv-subsec">
                                    <span class="wt-lg-txt" name="f_service_title__3" data-field-name="Services Title 3" data-multiline="false">
                                        <%= domain_data.data.f_service_title__3 %>
                                    </span>
                                    <span class="wt-sub-txt" name="f_service_des__3" data-field-name="Services Description 3" data-multiline="true">
                                        <%= domain_data.data.f_service_des__3 %>
                                    </span>
                                </div>
                            </div>
                            <div class="wt-serv-box">
                                <div class="wt-fea-icob">
                                    <img src="<%= domain_data.data.f_service_icon__4 %>" name="f_service_icon__4" data-field-name="Services Icon 4" class="wt-fea-icon">
                                </div>
                                <div class="wt-serv-subsec">
                                    <span class="wt-lg-txt" name="f_service_title__4" data-field-name="Services Title 4" data-multiline="false">
                                       <%= domain_data.data.f_service_title__4 %>
                                    </span>
                                    <span class="wt-sub-txt" name="f_service_des__4" data-field-name="Services Description 4" data-multiline="true">
                                       <%= domain_data.data.f_service_des__4 %>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="wt-parent-sec dn" id="contact_sec">
                <div class="wt-contact">
                    <div class="bcard-sec">
                        <div class="wt-sec-title">
                            Contact Us
                        </div>
                        <div class="bcard-sub-sec">
                            <div class="bcard-frm-sec">
                                <div class="bcard-frm-btxt">
                                    FirstName
                                </div>
                                <div class="bcard-frm-inpb">
                                    <input placeholder="FirstName" type="text" class="bcard-frm-inp" />
                                </div>
                            </div>
                            <div class="bcard-inp-sec">
                                <div class="bcard-frm-sec bcard-frm-half">
                                    <div class="bcard-frm-btxt">
                                        Mobile Number
                                    </div>
                                    <div class="bcard-frm-inpb">
                                        <input placeholder="Mobile No" type="text" class="bcard-frm-inp" />
                                    </div>
                                </div>
                                <div class="bcard-frm-sec bcard-frm-half">
                                    <div class="bcard-frm-btxt">
                                        Email
                                    </div>
                                    <div class="bcard-frm-inpb">
                                        <input placeholder="Email" type="text" class="bcard-frm-inp" />
                                    </div>
                                </div>
                            </div>
                            <div class="bcard-frm-sec">
                                <div class="bcard-frm-btxt">
                                    Message
                                </div>
                                <div class="bcard-frm-inpb">
                                    <input placeholder="Message" type="text" class="bcard-frm-inp" />
                                </div>
                            </div>
                            <div class="bcard-btn pn" id="submit_data" data-api="<%= domain_data.data.api %>" onclick="submitData(this);">
                                    Submit
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="wt-parent-sec dn" id="about_sec">
                <div class="wt-sec-title">
                    About Us
                </div>
                <div class="wt-sec ">
                    <div class="wt-sec-box">
                        <span class="wt-lg-txt wt-xlg-txt" name="f_title_2" data-field-name="Title" data-multiline="false">
                           <%= domain_data.data.f_title_2 %>
                        </span>
                        <span class="wt-sub-txt wt-xsub-txt" name="f_des_2" data-field-name="Description" data-multiline="true">
                             <%= domain_data.data.f_des_2 %>
                        </span>
                        <span class="wt-sub-txt wt-xsub-txt" name="f_des_3" data-field-name="Description" data-multiline="true">
                             <%= domain_data.data.f_des_3 %>
                        </span>
                        <div>
                            <span class="wt-sub-txt wt-point" name="f_sec_des__4" data-field-name="Description Title 4" data-multiline="true">
                               <%= domain_data.data.f_sec_des__4 %>
                            </span>
                            <span class="wt-sub-txt wt-point" name="f_sec_des__5" data-field-name="Description Title 5" data-multiline="true">
                                 <%= domain_data.data.f_sec_des__5 %>
                            </span>
                            <span class="wt-sub-txt wt-point" name="f_sec_des__6" data-field-name="Description Title 6" data-multiline="true">
                                <%= domain_data.data.f_sec_des__6 %>
                            </span>
                        </div>
                    </div>
                    <div class="wt-sec-box">
                        <div class="wt-sec-imgb">
                            <img src="<%= domain_data.data.f_hero_2 %>" name="f_hero_2" data-field-name="About Image 1" class="wt-sec-img">
                             <div class="wt-img-bg2">
                            </div>
                        </div>
                        <div class="wt-sec-imgb wt-sec-imgb-2">
                            <img src="<%= domain_data.data.f_hero_3 %>" name="f_hero_3" data-field-name="About Image 2" class="wt-sec-img">
                             <div class="wt-img-bg3">
                            </div>
                        </div>
                       
                    </div>
                </div>
            </div>
            <div class="wt-ft">
                <div class="wt-ft-sec">
                    <div class="wt-hlogo">
                        <img src="<%= domain_data.data.f_logo_2 %>" name="f_logo_2" data-field-name="Logo" class="wt-hlogo-img">
                    </div>
                    <div class="wt-ft-subsec">
                        <div class="wt-hlnk" id="home" onclick="loadLink(this)">
                            Home
                        </div>
                        <div class="wt-hlnk" id="services" onclick="loadLink(this)">
                            Services
                        </div>
                        <div class="wt-hlnk" id="about" onclick="loadLink(this)">
                            About
                        </div>
                        <div class="wt-hlnk" id="contact" onclick="loadLink(this)">
                            Contact
                        </div>
                    </div>
                    <div class="wt-ft-subsec">
                            <div class="wt-ft-secrow">
                                <i class="fa-solid fa-location-dot"></i>
                                <span class="wt-sub-txt" name="f_address" data-field-name="Company Address" data-multiline="true">
                                  <%= domain_data.data.f_address %>
                                </span>
                            </div>
                            <a target="_blank" name="f_email" href="mailto:<%= domain_data.data.f_email %>" data-sm="true" data-field-name="Company Email" class="wt-ft-secrow">
                                <i class="fa-solid fa-envelope"></i>
                                <div>
                                   <%= domain_data.data.f_email %> 
                                </div>
                            </a>
                            <a target="_blank" name="f_ph" href="tel:<%= domain_data.data.f_ph %>" data-sm="true" data-field-name="Company Contact No" class="wt-ft-secrow">
                               <i class="fa-solid fa-phone"></i>
                               <div>
                                    <%= domain_data.data.f_ph %>  
                               </div>
                            </a>
                    </div>
                </div>
                <span class="wt-ft-txt" name="f_copyrgt_txt" data-field-name="Copyright " data-multiline="false">
                    <%= domain_data.data.f_copyrgt_txt %>
                </span>
            </div>
        </div>
        <style>
            :root {
                --primary: #3794e9;
                --primary-lt: #f1f8ff;
                --primary-dk:  #002f5a;
                --white:#ffffff;
                --gry-lt:  #f9f9f9;
                --gry: #efefef;
                --gry-dk:  #6e6e6e;
            }

            * {
                margin: 0px;
                padding: 0px;
                box-sizing: border-box;
            }

            html {
                font-size: 15px;
            }

            body {
                padding: 0px;
                margin: 0px;
            }

            .bcard-temp-4[data-theme="ts_001"]{
                --primary: #f58646;
                --primary-dk: #BA4605;
                --primary-lt: #FFF5EF;
            }
            </style>
        <script type="text/javascript">
        function loadLink(e) {
            let links = document.querySelectorAll('.wt-hlnk');
            for (let j = 0; j < links.length; j++) {
                links[j].classList.remove('wt-lactive');
            }
            console.log(document.querySelectorAll('.wt-hlnk'));
            console.log(event.currentTarget)
            event.currentTarget.classList.add('wt-lactive');
            if (event.currentTarget.attributes[1].value === 'contact') {
                document.getElementById('contact_sec').classList.remove('dn');

                document.getElementById('main_sec').classList.add('dn');
                document.getElementById('services_sec').classList.add('dn');
                document.getElementById('about_sec').classList.add('dn');

            } else if (event.currentTarget.attributes[1].value === 'home') {
                document.getElementById('main_sec').classList.remove('dn');

                document.getElementById('contact_sec').classList.add('dn');
                document.getElementById('services_sec').classList.add('dn');
                document.getElementById('about_sec').classList.add('dn');
            } else if (event.currentTarget.attributes[1].value === 'services') {
                document.getElementById('services_sec').classList.remove('dn');

                document.getElementById('contact_sec').classList.add('dn');
                document.getElementById('main_sec').classList.add('dn');
                document.getElementById('about_sec').classList.add('dn');
            } else if (event.currentTarget.attributes[1].value === 'about') {
                document.getElementById('about_sec').classList.remove('dn');

                document.getElementById('contact_sec').classList.add('dn');
                document.getElementById('main_sec').classList.add('dn');
                document.getElementById('services_sec').classList.add('dn');
            }

        }
        function openLinkNav(e) {
            $('.wt-hlnks').toggleClass('df');
        }
        </script>
    <% } %>


    <script src="https://code.jquery.com/jquery-3.6.1.slim.min.js" integrity="sha256-w8CvhFs7iHNVUtnSP0YKEg00p9Ih13rlL9zGqvLdePA=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="../js/index.js"></script>
    <script type="text/javascript">
    console.log($('#fn').value);
    console.log(window.location.href);
    console.log($('#share_wa').attr('href'));
    $('#share_wa').attr('href', 'https://api.whatsapp.com/send?text=' + window.location.href);
    // document.addEventListener('keyup', checkValidation);

    function checkValidation(e) {
        var regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
        var regexPh = /^!*(\d!*){10,}$/;

        // if(($('#fn').val() == '' || $('#fn').val() == undefined) || ($('#pno').val() == '' || $('#pno').val() == undefined) || ($('#femail').val() == '' || $('#femail').val() == undefined) || ($('#fmess').val() == '' || $('#fmess').val() == undefined)) {

        //     $('#submit_data').addClass('pn');          
        //     console.log('asd' + ($('#femail').val()));  
        //     console.log('asd' + ($('#fmess').val()));      
        // }
        console.log($(this).attr('id'));
        if (this.value === undefined || this.value === '') {
            let errMess = `<div id="err_box"><div style="font-size: 13px; color: red;">Please Enter Data !!!</div></div>`;
            $('#submit_data').addClass('pn');
            $(this).parents('.bcard-frm-sec').children('#err_box').remove();
            $(this).parents('.bcard-frm-sec').append(errMess);
        } else if (this.value != undefined || this.value != '') {
            $('#submit_data').addClass('pn');
            $(this).parents('.bcard-frm-sec').children('#err_box').remove();

            if ($(this).attr('id') === 'femail') {

                if (regex.test(this.value) === false) {
                    let errMess = `<div id="err_box"><div style="font-size: 13px; color: red;">Please Enter Valid Email !!!</div></div>`;
                    $(this).parents('.bcard-frm-sec').children('#err_box').remove();
                    $(this).parents('.bcard-frm-sec').append(errMess);
                    $('#submit_data').addClass('pn');
                } else {
                    $(this).parents('.bcard-frm-sec').children('#err_box').remove();
                }
            } else if ($(this).attr('id') === 'pno') {

                if (regexPh.test(this.value) === false) {
                    let errMess = `<div id="err_box"><div style="font-size: 13px; color: red;">Please Enter Valid Phone Number !!!</div></div>`;
                    $(this).parents('.bcard-frm-sec').children('#err_box').remove();
                    $(this).parents('.bcard-frm-sec').append(errMess);
                    $('#submit_data').addClass('pn');
                } else {
                    $(this).parents('.bcard-frm-sec').children('#err_box').remove();
                }
            }

            if (($('#fn').val() != '' && $('#fn').val() != undefined) && ($('#pno').val() != '' && $('#pno').val() != undefined) && ($('#femail').val() != '' && $('#femail').val() != undefined && (regex.test($('#femail').val()) === true)) && ($('#fmess').val() != '' && $('#fmess').val() != undefined)) {
                console.log($('#fn').val());
                $('#submit_data').removeClass('pn');
            }
        }


    }

    $("input").on('keyup', checkValidation);
    $("textarea").on('keyup', checkValidation);


    function submitData(e) {
        let contactData = {
            first_name: $('#fn').val(),
            phone_number: $('#pno').val(),
            email: $('#femail').val(),
            message: $('#fmess').val()
        }
        let contactObj = {
            method: 'POST',
            body: JSON.stringify(contactData),
            headers: {
                'Content-Type': 'application/json'
            }
        }
        fetch($(e).attr('data-api'), contactObj)
            .then((res) => {
                res.json()
                    .then((res) => {
                        console.log(res);
                        console.log(res);
                    })
                    .catch((err) => {
                        console.error(err);
                    })
            })
            .catch((err) => {
                console.error(err);
            });
    }
    </script>
</body>

</html>